<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Vets List</title>
</head>
<body>
	<h1 th:text="'List of Vets'">Hello...</h1>
	<table>
		<thead>
			<tr><th>ID</th><th>FirstName</th><th>LastName</th></tr>
		</thead>
		<tbody>
			<tr th:each="vet : ${vets}">
				<td th:text="${vet.id}">1</td>
				<td th:text="${vet.firstName}">Pol</td>
				<td th:text="${vet.lastName}">Renauld</td>
			</tr>
		</tbody>
	</table>
</body>
</html>